body {
background-color: #E9D5DA;
}

h1 {
  color: #363062
}

h3 {
  color: #363062
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
